</br>
<h1> Index </h1>
<table class="table table-hover table-bordered">
    <thead class="table-success">
      <tr>
        <th>Email</th>
        
        
      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, user_profile_path %></td>
          <td><%= button_to "Cancel my account", 'user', 
              data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, 
              method: :delete, class:"btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to "New user", '#', class:"btn btn-success" %>



